html {
  background-color: #FFFEF6;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #FF6A5C;
}

h2 {
  font-family: 'Inconsolata', monospace;
  color: #414141;
}

nav li a {
  font-family: 'Inconsolata', monospace;
  color: #414141;
  text-decoration: none;
}

.social img {
  width: 26px;
  opacity: .5;
}
